@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;700&display=swap");

body {
    /* Color Theme Swatches in HSLA */
    --color-dark-100: hsla(200, 96%, 9%, 1);
    --color-acc1-dark-100: hsla(197, 76%, 30%, 1);
    --color-acc1-light-100: hsla(170, 52%, 52%, 1);
    --color-acc21-100: hsla(126, 66%, 76%, 1);
    --color-acc22-100: hsla(91, 94%, 86%, 1);
    --color-acc23-50: rgb(248, 255, 242);

    background-color: var(--color-acc1-light-100);

    font-family: "Noto Sans", sans-serif;
    --font-wt-heading: 700;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-with-boundary {
    border-radius: var(--local--border-radius, 10px);
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-color: var(--local-border-color, var(--color-dark-100));
    border-width: var(--local-border-width, medium);
    background-color: var(--local-bg-color);
}

section.section-with-boundary {
    --local-bg-color: var(--color-acc23-50);
}

.flex-vertical {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-horizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-heading {
    font-weight: var(--font-wt-heading);
    font-size: 1.5rem;
}
.hoverable {
    padding: 0.25rem;
    margin: 0.5rem;
    border: 3px solid transparent;
    background-color: var(--color-acc21-100);
    transition-duration: 100ms;
}
.hoverable:hover {
    border: 3px solid var(--color-acc1-dark-100);
    background-color: var(--color-acc22-100);
}
header,
footer {
    height: 3rem;
    font-size: 2rem;
    font-weight: var(--font-wt-heading);
    background-color: var(--color-dark-100);
    color: var(--color-acc22-100);
    margin: 0;
    padding: 0;
}
